<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888867778014-96ltpobjt6as01up89hi05dandikqvug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888867778014-96ltpobjt6as01up89hi05dandikqvug</string>
	<key>API_KEY</key>
	<string>AIzaSyC8xKYNRMuvW88a-T7MHUnrOypC05YyaYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>888867778014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eComerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-5e098</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-5e098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888867778014:ios:2fd14e79e473d9b697414f</string>
</dict>
</plist>